<h2>List of Recipes: </h2>
<ul>
    <% @recipes.each do |recipe| %>
        <a href="/recipes/<%= recipe.id %>">
            <li> <%= recipe.name %> </li>
        </a>
    <% end %>
</ul>

<form action="/recipes/new" method="post">
<input type="hidden" name="_method" value="create" />

<input type="submit" value="Create Recipe" />

</form>