<h2> Create an Recipe!! </h2>

<form action="/recipes" method="post">

<label for="name">Name</label>
<p><input type="text" name="name"></p>

<label for="ingredients">Ingredients</label>
<p><input type="text" name="ingredients"/></p>

<label for="cook_time">Cook Time</label>
<p><input type="text" name="cook_time"/></p>

<input type="submit" value="Submit">

</form>
